:root{
	--cor1: #632222;
	--cor2: #D94A4A;
}
body{
    margin: 0 auto;
    padding: 0;
    background: var(--cor2);
    font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
button{
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.pomodoro{
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    margin: 0 auto;
}
.pomodoro #menu{
    width: 100%;
    margin: 10px auto 0 auto;
    clear: both;
}
.pomodoro #menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pomodoro #menu ul li{
    width: 33%;
    text-align: center;
    transition: all .5s;
    background: transparent;
    border-radius: 5px;
}
.pomodoro #menu ul li[data-set="on"]{
    background: var(--cor1);
}
.pomodoro #menu ul li:hover{
    background: var(--cor1);
}
.pomodoro #menu ul li button{
    width: 100%;
    padding: 15px 3px;
    color: #fff;
    font-size: 100%;
    height: 58px;
}
#time{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
}
#time #contador{
    width: calc(100% - 80px);
    text-align: center;
    color: #fff;
    font-size: 400%;
}
#time .ctrl{
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    border: solid 1px #fff;
}
#time .ctrl button{
    color: #fff;
    font-size:  220%;
    width: 100%;
}
#startStop{
    width: 100%;
    border-radius: 3px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
#startStop button{
    display: inline-block;
    background: #fff;
    padding: 15px; 
    width: 150px;
    border-radius: 3px;
    box-shadow: 5px 5px 0px #00000099;
    margin: 15px auto;
    transition: all .5s;
    text-transform: uppercase;
    font-size: 150%;
}
#startStop button:hover{
    box-shadow: -5px -5px 0px #00000099;
    transform:translateY(10px);
}
#startStop button[data-set='off']{
    display: none;
}
.pomodoro #about{
    width: 200px;
    clear: both;
    margin: 50px auto;
}
.pomodoro #about div{

}
.pomodoro #about p{
    width: 170px;
    margin: 0 auto;
    text-align: justify;
    position: absolute;
    background: #fff;
    padding: 10px;
    height: 240px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #00000033;
    overflow: hidden;
    transition: all .5s;
}
.pomodoro #about p span{
    width: 50px;
    height: 50px;
    display: block;
}
.pomodoro #about p span:nth-child(1){
    position: absolute;
    background: var(--cor2);
    z-index: 1;
    top: -25px;
    left: -25px;
    transform: rotate(45deg);
}
.pomodoro #about p span:nth-child(2){
    position: relative;
    background: #fff;
    box-shadow: 2px 2px 20px #00000033;
    top: -25px;
    left: -25px;
}
.pomodoro #about p[page="1"]{
    z-index: 4;
}
.pomodoro #about p[page="2"]{
    z-index: 3;
    transform: rotate(5deg);
}
.pomodoro #about p[page="3"]{
    z-index: 2;
    transform: rotate(10deg);
}
.pomodoro #about p[page="4"]{
    z-index: 1;
    transform: rotate(15deg);
}
.pomodoro #about .ctrl{
    width: 100%;
    height: 260px;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: end;
    transition: all .5s;
}
.pomodoro #about .ctrl button{
    padding: 15px; 
    width: 50px;
    border-radius: 3px;
    transition: all .5s;
    text-transform: uppercase;
    font-size: 100%;
    color: #333;
    position: relative;
}
footer{
  text-align: center;
  opacity: .8;
  color: #fff;
  transition: all .5s;
  clear: both;
}
footer a{
  opacity: .5;
  color: #fff;
  text-decoration: none;
  transition: all .5s;
  font-size: 20px;
  display: inline-block;
  margin: 5px;
}
footer:hover, footer a:hover{
  opacity: 1;
}
